<!DOCTYPE html>
<html>
<head>
    <title>ثبت فاکتور فروش</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">

<h3>ثبت فاکتور فروش</h3>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        {{ invoice_form.customer.label_tag }}
        {{ invoice_form.customer }}
    </div>

    <div class="mb-3">
        {{ item_form.product.label_tag }}
        {{ item_form.product }}
    </div>

    <div class="mb-3">
        {{ item_form.quantity.label_tag }}
        {{ item_form.quantity }}
    </div>

    <div class="mb-3">
        {{ item_form.price.label_tag }}
        {{ item_form.price }}
    </div>

    <button class="btn btn-success">ثبت فاکتور</button>
</form>

</body>
</html>
